<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="17411SuperCoolAppTeam.ClothingQuiz-FashionGuide" Publisher="CN=372B5571-0D05-426C-8F65-1EBE7EF29A9A" Version="2.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="d12432c3-7ee7-4005-9c1c-4cdab9340dd8" PhonePublisherId="f799e6fb-dfb6-4215-b421-ba91371e13c5" />
  <Properties>
    <DisplayName>App095</DisplayName>
    <PublisherDisplayName>Super Cool App Team</PublisherDisplayName>
    <Logo>Assets\Html\icon-96.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xd12432c3y7ee7y4005y9c1cy4cdab9340dd8x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Clothing Quiz - Fashion Guide" Square150x150Logo="Assets\Html\icon-96.png" Square44x44Logo="Assets\Html\icon-96.png" Description="App095" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\Html\icon-96.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Html\splash.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>