<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdRotator" version="2.1.1" targetFramework="wp81" />
  <package id="Microsoft.Advertising.WindowsPhone.SL80" version="6.2.40501.1" targetFramework="wp81" />
  <package id="Microsoft.Advertising.WindowsPhone.SL81" version="8.1.50112.0" targetFramework="wp81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>